language: android
jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools  
    - build-tools-25.0.2
    - android-23
    - android-25
    - extra-android-m2repository
    - extra-google-m2repository
